<!--
title: Configurations
description: 
published: true
date: 2026-03-30T18:31:46.280Z
tags: 
editor: ckeditor
dateCreated: 2026-03-06T21:46:57.577Z
-->

<h3>Dashboarding and Visualization</h3>
<pre><code class="language-plaintext">{{template "head" .}}
{{template "prom_content_head" .}}
&lt;h1&gt;Node Stats&lt;/h1&gt;
&lt;h3&gt;Memory&lt;/h3&gt;
&lt;strong&gt;Memory utilization:&lt;/strong&gt; {{template "prom_query_drilldown" (args
"100- (node_memory_MemAvailable_bytes/node_memory_MemTotal_bytes*100)" "%") }}
&lt;br/&gt;
&lt;strong&gt;Memory Size:&lt;/strong&gt; {{template "prom_query_drilldown" (args
"node_memory_MemTotal_bytes/1000000" "Mb") }}
&lt;h3&gt;CPU&lt;/h3&gt;
&lt;strong&gt;CPU Count:&lt;/strong&gt; {{template "prom_query_drilldown" (args
"count(node_cpu_seconds_total{mode='idle'})") }}
&lt;br/&gt;
&lt;strong&gt;CPU Utilization:&lt;/strong&gt;
{{template "prom_query_drilldown" (args
"sum(rate(node_cpu_seconds_total{mode!='idle'}[2m]))*100/8" "%") }}

&lt;div id="cpu"&gt;&lt;/div&gt;
&lt;script&gt;
  new PromConsole.Graph({
    node: document.querySelector("#cpu"),
    expr: "sum(rate(node_cpu_seconds_total{mode!='idle'}[2m]))*100/2",
  });
&lt;/script&gt;

&lt;h3&gt;Network&lt;/h3&gt;
&lt;div id="network"&gt;&lt;/div&gt;

&lt;script&gt;
  new PromConsole.Graph({
    node: document.querySelector("#network"),
    expr: "rate(node_network_receive_bytes_total[2m])",
  });
&lt;/script&gt;

{{template "prom_content_tail" .}}
{{template "tail"}}</code></pre>
<p>&nbsp;</p>
<h3>Instrumentation using promethues client library</h3>
<ul>
  <li>To embed custom metrics into an application, import the promethues library for the programming language that is used, and use its functions to create metrics. For example:</li>
</ul>
<pre><code class="language-plaintext">pip install prometheus-client</code></pre>
<p>&nbsp;</p>
<ul>
  <li>Then use this library functions:</li>
</ul>
<pre><code class="language-plaintext">from flask  import Flask
from prometheus_client import Counter, start_http_server

# initialize the Counter function to create a counter metric
REQUESTS= Counter('metric_name', 'Metric describtion')


app = Flask(__name__)



@app.get("/cars")
def get_cars():
# to increament the counter every time this endpoint is called
    REQUESTS.inc()
    return ["Toyota"]

if __name__  == '__main__':
# to start http server to expose the metrics
    start_http_server(8001)
    app.run(port='5001')
</code></pre>
<p>&nbsp;</p>
<ul>
  <li>Or you can use the framework logic (like flask) to expose the metrics on the same port of the application but in different endpoint by using the promethues client library function to expose the metrics in that endpoint.</li>
</ul>
<pre><code class="language-plaintext">from flask  import Flask
from werkzeug.middleware.dispatcher import DispatcherMiddleware
from prometheus_client import Counter, make_wsgi_app # this function export metrics to the app server 


REQUESTS= Counter('http_requests_total', 'Total number of requests')


app = Flask(__name__)
app.wsgi_app = DispatcherMiddleware(app.wsgi_app, {'/metrics': make_wsgi_app()})



@app.get("/cars")
def get_cars():
    REQUESTS.inc()
    return ["Toyota"]

if __name__  == '__main__':
    app.run(port='5001')
</code></pre>
<ul>
  <li>to add labels to metrics to be able to do operations on them while distinguishing the sub categories, use this</li>
</ul>
<pre><code class="language-plaintext">from flask  import Flask
from werkzeug.middleware.dispatcher import DispatcherMiddleware
from prometheus_client import Counter, make_wsgi_app


# define the labels names
REQUESTS= Counter('http_requests_total', 'Total number of requests', labelnames=['path', 'method'])


app = Flask(__name__)
app.wsgi_app = DispatcherMiddleware(app.wsgi_app, {'/metrics': make_wsgi_app()})



@app.get("/cars")
def get_cars():
# define the labels values
    REQUESTS.labels('/cars', 'get').inc()
    return ["Toyota"]


@app.get("/cycles")
def get_cycles():
    REQUESTS.labels('/cycles', 'get').inc()
    return ["Motorcycle"]


if __name__  == '__main__':
    app.run(port='5001')
</code></pre>
<ul>
  <li>To create histograms, import the Histogram function and implement the logic for the metric</li>
</ul>
<pre><code class="language-plaintext">from flask  import Flask, request
from werkzeug.middleware.dispatcher import DispatcherMiddleware
from prometheus_client import Counter, Histogram , make_wsgi_app
import time


REQUESTS = Counter('http_requests_total', 'Total number of requests', labelnames=['path', 'method'])
LATENCY = Histogram('request_latency_seconds', 'Request Latency', labelnames=['path', 'method'])

app = Flask(__name__)
app.wsgi_app = DispatcherMiddleware(app.wsgi_app, {'/metrics': make_wsgi_app()})

@app.before_request
def before_request():
    request.start_time  = time.time()
@app.after_request
# This is where the histogram gets its value - the observe method () -
def after_request(response):
    request_latency = time.time() - request.start_time
    LATENCY.labels(request.path, request.method).observe(request_latency)
    return response


@app.get("/cars")
def get_cars():
    REQUESTS.labels('/cars', 'get').inc()
    return ["Toyota"]


@app.get("/cycles")
def get_cycles():
    REQUESTS.labels('/cycles', 'get').inc()
    return ["Motorcycle"]


if __name__  == '__main__':
    app.run(port='5001')
</code></pre>
<p>&nbsp;</p>
<ul>
  <li>To make a gauge metric, use the Gauge function and use the sub functions inc(), dec(), set() to implement the increase and decrease logic of the guage</li>
</ul>
<figure class="image"><img src="/observability/screenshot_2026-03-29_203303.png"></figure>
<pre><code class="language-plaintext">from flask  import Flask, request
from werkzeug.middleware.dispatcher import DispatcherMiddleware
from prometheus_client import Counter, Histogram , make_wsgi_app, Gauge
import time


REQUESTS = Counter('http_requests_total', 'Total number of requests', labelnames=['path', 'method'])
LATENCY = Histogram('request_latency_seconds', 'Request Latency', labelnames=['path', 'method'])
IN_PROGRESS = Gauge('my_inprogress_requests', 'my guage', labelnames=['path', 'method'])
app = Flask(__name__)
app.wsgi_app = DispatcherMiddleware(app.wsgi_app, {'/metrics': make_wsgi_app()})

@app.before_request
def before_request():
    request.start_time  = time.time()
    IN_PROGRESS.labels(request.path, request.method).inc()
@app.after_request
def after_request(response):
    time.sleep(20)
    request_latency = time.time() - request.start_time
    LATENCY.labels(request.path, request.method).observe(request_latency)
    IN_PROGRESS.labels(request.path, request.method).dec()
    return response


@app.get("/cars")
def get_cars():
    REQUESTS.labels('/cars', 'get').inc()
    return ["Toyota"]


@app.get("/cycles")
def get_cycles():
    REQUESTS.labels('/cycles', 'get').inc()
    return ["Motorcycle"]


if __name__  == '__main__':
    app.run(port='5001')
  </code></pre>
<ul>
  <li>metrics naming best practices:<ul>
      <li>the name should always follow the snake_case</li>
      <li>the first word is for the package that will be monitored (http, postgres, node)</li>
      <li>the second part should be the metric name</li>
      <li>the last part should be the measuring unit (expect the counters)</li>
    </ul>
  </li>
</ul>
<p>&nbsp;</p>
<h4>Service discovery&nbsp;</h4>
<ul>
  <li>Automatically discover targets to scrape<ul>
      <li>Like cloud providers, kubernetes, and others</li>
    </ul>
  </li>
  <li>type:<ul>
      <li>static: manually entering the targets</li>
      <li>file: import a list of targets from a json or yaml file</li>
    </ul>
  </li>
</ul>
<figure class="image"><img src="/observability/screenshot_2026-03-29_203303.png"></figure>
<h6>Relabeling</h6>
<ul>
  <li>allows to<mark class="marker-yellow"> classify or filter promethues targets</mark> by <mark class="marker-yellow">rewriting their label sets</mark>, which have been discovered automatically.</li>
</ul>
<pre><code class="language-plaintext">scrape_configs:
 - job_name: EC2
   relabel_configs:  &gt;&gt; Relabeling occurs before the scrape occurs and only has access to the labels added by the serice discovery
      source_labels: [label, labels2]
      regex: value of the original label;value of the other label
      action: keep|drop|labeldrop|labelkeep|labelmap(need  replacement to rename the label)|replace(need the replacement and target_label to specifiy the value and the name of the new label)
      seperator: to change the delimiter
    metric_relabel_configs:Relabeling occurs aftr the scrape
   ec2_sd_configs:
   </code></pre>
<p>Relabeling demo:</p>
<ul>
  <li>Relabel configs: <mark class="marker-yellow">before the scrape</mark>&nbsp;</li>
  <li>To scrape targets of a specific environment&nbsp;</li>
</ul>
<pre><code class="language-plaintext">scrape_configs:
  - job_name: "test"
    relabel_configs:
      - source: [env]
        regex: prod 
        action: keep
    file_sd_configs:
      - files:
        - file-sd.json</code></pre>
<ul>
  <li>To scrape all the environment expect one</li>
</ul>
<pre><code class="language-plaintext">scrape_configs:
  - job_name: "test"
    relabel_configs:
      - source: [env]
        regex: prod 
        action: drop
    file_sd_configs:
      - files:
        - file-sd.json</code></pre>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
